body{
  background-color: antiquewhite;
  
}
.App{
 display: flex;  
  /* width: 200%; */
  margin-top: 40px;
  margin-left: 250px;     
    background-color: white;      
    border:cornflowerblue  solid 1px ;    
       height: 442px; 
        width: 750px;        
        }
   
   .Both{
     display: flex;
   }

img{
  margin-right: 20px; 
   justify-content: space-between;
  
  
}
 .Actors{
font-weight: 500;
 font-size:15px ;
}
.Plot{
  font-size:15px ; 
font-weight: 500;
}
.Title{
 
display: inline-block; 
width:50% ;

}
.Rated{
  display: inline-block;
margin-right:20px ;
margin-left:20px ;
font-size:15px ;
background-color: #a9a9a9;
border-radius: 5px;
}


.Rating{
 display: inline-block; 
color:rgb(23, 79, 182);
font-size: 25px;

}
.Runtime{
display: inline-block;
margin-right:20px ;
margin-left:20px ;
font-size:15px ;
background-color: #a9a9a9;
border-radius: 5px;


}
.Genre{
 margin-right:50% ;
margin-left:20px ;
font-size:15px ;
text-align: center;
background-color: #a9a9a9; 
border-radius: 10px; 

} 
